<nav>
  <ul>
    <li>
      <%= link_to user_group_path(@user, @group) do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left navBtn"><path d="m15 18-6-6 6-6"/></svg>
      <% end %>
    </li>
    <li><p>TRANSACTION</p></li>
    <li>
      <%= button_to destroy_user_session_path, :class=>'logout', method: :delete do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out navBtn"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
      <% end %>
    </li>
  </ul>
</nav>
<section class='addTransaction'>
  <h2>Add a new Transaction</h2>
  <%= form_with model: @entity, url: user_group_entities_path(@user, @group), :class=>'forms', method: :post do |form| %>
    <%= form.label :name, 'Name:' %>
    <%= form.text_field :name, :class => 'texts' %>
    <%= form.label :amount, 'Amount:' %>
    <%= form.text_field :amount, :class => 'texts' %>
    <%= form.label :group_id, 'Category:' %>
    <%= form.collection_select :group_id, @user.groups, :id, :name %>
    <div class='btnDiv'>
      <%= form.submit 'Create Transaction', :class => 'btn' %>
    </div>
  <% end %>
</section>
