<section class='categories'>
  <nav>
    <ul>
      <li>
        <%= link_to user_path(@user) do %>
          <svg class="navBtn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu"><line x1="4" x2="20" y1="12" y2="12"/><line x1="4" x2="20" y1="6" y2="6"/><line x1="4" x2="20" y1="18" y2="18"/></svg>
        <% end %>
      </li>
      <li><p>CATEGORIES</p>
      <li>
        <%= button_to destroy_user_session_path, :class=>'logout', method: :delete do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out navBtn"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
        <% end %>
      </li>
    </ul>
  </nav>
  <section class='cards'>
    <% @groups.each do |group| %>
      <a href=<%= user_group_path(@user, group) %> class='categoryLink'>
        <div class='category'>
          <div>
            <img src=<%= group.icon %> alt=<%= group.name %> class='icons'>
          </div>
          <div class='categoryInfo'>
            <h2><%= group.name %></h2>
            <p>Transactions: <%= group.entities.count %></p>
          </div>    
        </div>
      </a>
    <% end %>
  </section>
  <div class='bottom'>
    <%= link_to 'Add Category', new_user_group_path(@user), :class=>'linkBtn' %>
  </div>
</section>
